/ContentPage/.vs
*.user
*.bak
*.props
*.targets
/ContentPage/packages
/ContentPage/UWP/project.lock.json
/ContentPage/PDFViewCtrlTools_VS2015
bin
obj
/ContentPage/Droid/debug_keystore
.DS_Store
ContentPage/.DS_Store
ContentPage/Droid/.DS_Store
ContentPage/iOS/.DS_Store
