<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PDFTron.iOS" version="6.8.5" targetFramework="xamarinios10" />
  <package id="PDFTron.iOS.Tools" version="6.8.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="xamarinios10" />
</packages>